* {
    box-sizing : border-box;
    font-family:  'Roboto Condensed';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.01em;
}

.menuContainer {
    display: grid;
    margin: auto;
    text-align: center;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
}

.centrado {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    align-content: center;
}

.boton{
    background-color: #DE411B
}

.header{
    border-bottom: 1px solid black;
    background-color: #DE411B;
    height: 70px;
    padding: 8px;
}
.headerDisplay{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;  

}
#trashUser{
    cursor: pointer;
    width: 2em;  
    display: block;
    margin: 0 auto; 
}
.iconHeader{
    justify-self: end;
}
.formLogin {
    font-size: 30px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;

}
.mainLogin{
    margin-top: 5%;
}
.topLogin{
    margin-top: 3%;
}

.imgLogin{
    width: 30%;
}
.imgHome{
    width: 200px;
    justify-content: center;
}

#loginh1{
    color: #DE411B; 
    margin: 0px;
}

.botonLogin {
    width: 100%; 
    margin: 20px auto;
    font-size: 30px;
    background-color: #DE411B
}
.headerLogin{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.homeBtn{
    width: 50px;
    height: 50px;
}
.homeDisplay{
    width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.botonHome{
    background-color: #DE411B;
    width: 100%;
    margin: 3% 0px;
    padding: 3%;
    border-radius: 15px;
}
#botonHeaderLogOut{
    margin-right: 20px;
    margin-left: 30px;
}
.logoAbajo{
    position: absolute;
    width: 100%;
    bottom: 7px;
    text-align: center
}
#imgHeader{
    width: 40px; 
    height: 40px; 
    margin-left: 30px;
}
#headerName{
    font-size: 20px;
    margin-left: 15px;
    vertical-align: bottom;
    text-transform: uppercase;
}
.btnLogOut{
    border: 1px solid black;
     background-color: #F0F3F3;
     border-radius: 30px;
}
.titHome{
    text-align: center;
    padding: 1%;
}
.tableHeading{
    font-size: 1.5em; 
    text-align: center;
}
.inputSearch{
    font-size: 1.5em;
}
#textCheckBox{
    padding-left: 10px; 
}
#checkboxIsAdmin{
    padding-bottom: 35px;
    margin-left: -10px; 
}
.selectTag{
    margin: 8px 5px;
    padding: 0px 4px;
}
#tagsDisplay{
    display: inline-grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
}
.subTitles{
    font-size: 2em; 
    margin-left: 15px; 
    margin-top: 10px;
}
.addTag{
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    margin-top: 15px;
    margin-left: 15px;
}
#addTagBtn{
    margin: 10px 15px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: rgb(17, 102, 49);
    color: white;
}
form h5 {
    align-self: center;
    text-align: center;
}
#tagContainer{
    margin: 15px 25px;
    border: 2px solid #DE411B;
    border-radius: 20px;
}
#addQuestBtn{
    margin-right: 35px;
    padding-bottom: 20px;
    width: 60px;
}
.questionTextbox{
    width: 96%;
    margin: 10px 20px;
    height: 90px; 
    font-size: 1.5em;
}
.btnQuest{
    width: 100%; 
    padding: 20px; 
    font-size: 1.5em;
    margin: 30px 30px; 
}
.subBtn{
    padding: 10px;
    background-color:white;
    border-radius: 30px;
    border: 1px solid #DE411B;
}
.subBtn:hover{
    background-color: #DE411B;
}
.assignUser{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    width: 50%;
    margin: 40px auto;
}
#infoCandi{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px 20px;
}
#actions{
    margin: 20px 20px;
}
#botonesHR{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}
.ActionsBotonesNaranja{
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #DE411B;
    background-color: #DE411B
}
.ActionsBotonesBlanco{
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #DE411B;
    background-color: white;
}
.ActionsBotonesBlanco:hover{
    background-color: #DE411B;
}
.ActionsBotonesNaranja:hover{
    background-color: white;
}
button.ActionsBotones{
    margin: 10px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid black;
}
@media (min-width: 992px){
    .boton:hover{
        background-color: #EC6861;
    }
    .botonHome:hover{
        background-color: #EC6861;   
    }
    .titHomeForms{
        color: #DE411B; 
        padding-top: 25px;
        text-align: center;
        padding-bottom: 2%;
        font-size: 1.8em;
    }
    .addUser{
        font-size: 1.3em;
    }
}
@media (max-width: 992px) {
    .probandoModal{
        display: contents;
        font-size: 2.5em;
    }
    .textModal{
        font-size: 2.5em;
    }
    .probando2{
        font-size: 3em; 
    }
    #addQuestBtn{
        width: 120px;
    }
    .btnQuest{
        font-size: 2em;
    }
    .questionTextbox{
        height: 190px;
        width: 96%;
        margin: 10px 20px;
        font-size: 1.5em;
    }
    .inputSearch{
        font-size: 2.5em;
    }
    .tableHeading{
        font-size: 2.3em;
        text-align: left; 
    }
    #addTagBtn{
        font-size: 2em;
    }
    #boxTitle{
        font-size: 2em;
    }
    .selectTag{
        font-size: 2em;
    }
    #tagBox{
        font-size: 2em;
    }
    .subTitles{
        font-size: 3em; 
        margin-left: 15px; 
        margin-top: 10px;
    }
    div.leftHeader{
        display:inline-flex;
    }
    div.iconHeader{
        display: inline-flex;
    }
    .formLogin{
        font-size: 70px;
        width: 100%;
        padding: 5%;
    } 
    .inputLogin{
        font-size: 60px;
        border: 1px solid black;
    }
    .botonLogin{
        padding: 5%;
        margin-top: 10%;
        font-size: 60px;
        border-radius: 20px;
    }
    .imgLogin{
        width: 50%;
    }
    .headerLogin{
        margin-bottom: 7%;
    }
    #loginh1{
        font-size: 60px;
    }
    .botonHome{
        display: flex;
        align-items: flex-end;
        margin-bottom: 10%;
        border-radius: 20px;
        font-size: 50px;
        justify-content: center;
        padding: 55px 0px;
    }
    .homeDisplay{
        width: 80%;
    }
    .imgHome{
        width: 400px;
    }
    .header{
        border-bottom: 1px solid black;
        display: block;
        background-color: #DE411B;
        height: 150px;
        padding: 8px 
    }
    #imgHeader{
        width: 95px; 
        height: 95px; 
        margin: 30px;
    }
    #headerName{
        font-size: 3em;
        margin-bottom: 15px;
        vertical-align: middle;
        text-transform: uppercase;
        align-self: flex-end;
    }
    .btnLogOut{
        border: 1px solid black;
        background-color: #F0F3F3;
        width: 250px;
        height: 80px;
        font-size: 40px;
        margin-top: 30px;
    }
    .titHome{
        font-size: 90px;
        padding: 25px;
        text-align: center;
    }
    .formSpace{
        padding: 15px;
    }
    .formUser{
        font-size: 65px;
        padding: 10px 35px;
    }
    .tiny{
        font-size: 40px;
    }
    #belongsTo{
        font-size: 65px;
        padding: 20px;
    }
    .radioScale{
        transform: scale(4);
    }
    .labelSpacing{
        padding: 40px;
    }
    #checkBox{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 20px;
    }
    #textCheckBox{
        padding-left: 40px; 
        padding-top: 30px; 
    }
    .homeBtn{
        width:100px;
        height: 100px;
        margin-top: 30px;
    }
    #botonHeaderLogOut{
        margin-right: 10px;
    }
    .addUser{
        font-size: 0.8em;
    }
    .titHomeForms{
        color: #DE411B; 
        padding-top: 25px;
        text-align: center;
        padding-bottom: 2%;
        font-size: 1.8em;
    }
    #checkboxIsAdmin{
        padding-bottom: 35px; 
        margin-left: 35px;
    }
}

.addcand{
    text-align: right;
    margin: 10px;
}


.btn-primaryList{
    width: 100%

}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

.form-control{
    text-align: left;
    margin: 10px;
}

.list-group-item-action{
    cursor: pointer
}

.probando{
    display:grid;
    grid-template-columns: 1fr 1fr

}